@font-face {
  font-family: Tahoma;
  src: url("/assets/resources/fonts/Tahoma/tahoma.ttf");
}
@font-face {
  font-family: Corbel;
  src: url("/assets/resources/fonts/Corbel/corbel.ttf");
}
h1, h2 {
  font-family: "Corbel", sans-serif;
}

h3, h4, h5, h6, strong, span, p {
  font-family: "Tahoma", sans-serif;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 32px;
    line-height: 38.63px;
    font-weight: 700;
  }
  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;
  }
  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
  h5 {
    font-size: 16px;
    line-height: 19.31px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 32px;
    line-height: 38.63px;
    font-weight: 700;
  }
  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;
  }
  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
  h5 {
    font-size: 16px;
    line-height: 19.31px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 38.63px;
    font-weight: 700;
  }
  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;
  }
  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
  h5 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 48.3px;
    font-weight: 700;
  }
  h2 {
    font-size: 34px;
    line-height: 41.06px;
    font-weight: 700;
  }
  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
  h5 {
    font-size: 22px;
    line-height: 26.55px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;
  }
  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
  }
  h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
  }
  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;
  }
  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
  }
  h5 {
    font-size: 22px;
    line-height: 26.5px;
    font-weight: 400;
  }
  h6 {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
  }
  strong {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}
.mini_img_product_card {
  opacity: 0.5;
}

.mini_img_product_card.active {
  opacity: 1;
}

.product_card_form input,
.product_card_form textarea {
  padding-left: 30px;
  background: #fff;
  border: none;
  border-radius: 24px;
}

.product_card_form input::placeholder,
.product_card_form textarea::placeholder {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
  color: #66B645;
}

.quick_order.active {
  background: #fff;
  color: #000;
}

.remove-inputs-field {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.add-inputs-field {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.pop_up__input {
  border: none;
  background: #fff;
  border-radius: 16px;
  padding: 0px 0px 4px 20px;
}

.pop_up__input::placeholder {
  font-family: "Tahoma";
  font-size: 14px;
  line-height: 16.9px;
  color: #C9C9C9;
}

.col-2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(12, auto);
  row-gap: 5px;
  column-gap: 10px;
}

.btn-66B645 {
  display: flex;
  background: #66B645;
  justify-content: center;
  color: white;
  border-radius: 24px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-66B645:hover {
  box-shadow: 0 4px 4px rgba(0, 76, 190, 0.22);
}

.btn-black {
  display: flex;
  background: #000000;
  color: white;
  border-radius: 24px;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.search-result-table tr th {
  color: #5BB059;
  padding: 5px 10px;
  border-left: 2px solid #D1D1D1;
  border-right: 2px solid #D1D1D1;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.search-result-table tr td {
  color: #292929;
  border: 2px solid #D1D1D1;
  padding: 5px 10px;
  text-align: left;
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.search-result-table tr td a {
  text-decoration: underline;
}
.search-result-table tr td a:hover {
  color: #409840;
}

.has-error {
  border: 1px solid #ee4141;
}

.error-message {
  color: #863434;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #f3f3f3;
}
