@font-face {
  font-family: Tahoma;
  src: url("/assets/resources/fonts/Tahoma/tahoma.ttf");
}

@font-face {
  font-family: Corbel;
  src: url("/assets/resources/fonts/Corbel/corbel.ttf");
}
h1, h2 {
  font-family: 'Corbel', sans-serif;
}

h3, h4, h5, h6, strong, span, p {
  font-family: 'Tahoma', sans-serif;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 32px;
    line-height: 38.63px;
    font-weight: 700;

  }

  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;

  }

  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;

  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;

  }

  h5 {
    font-size: 16px;
    line-height: 19.31px;
    font-weight: 400;

  }

  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;

  }

  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

  }
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 32px;
    line-height: 38.63px;
    font-weight: 700;

  }

  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;

  }

  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;

  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;

  }

  h5 {
    font-size: 16px;
    line-height: 19.31px;
    font-weight: 400;

  }

  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;

  }

  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 38.63px;
    font-weight: 700;

  }

  h2 {
    font-size: 30px;
    line-height: 36.23px;
    font-weight: 700;

  }

  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;

  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;

  }

  h5 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;

  }

  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 48.3px;
    font-weight: 700;

  }

  h2 {
    font-size: 34px;
    line-height: 41.06px;
    font-weight: 700;

  }

  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;

  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;

  }

  h5 {
    font-size: 22px;
    line-height: 26.55px;
    font-weight: 400;

  }

  h6 {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  strong {
    font-size: 18px;
    line-height: 21.73px;
    font-weight: 400;

  }

  span {
    font-size: 15px;
    line-height: 18.11px;
    font-weight: 400;

  }

  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;

  }

  h3 {
    font-size: 32px;
    line-height: 38.6px;
    font-weight: 700;

  }

  h4 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;

  }

  h5 {
    font-size: 22px;
    line-height: 26.5px;
    font-weight: 400;

  }

  h6 {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;

  }

  strong {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

  }

  span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;

  }

  p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;

  }
}
